h1 {
  font-family: Arial;
  font-size: 2em;
  text-align: center;
}



.kumaimages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between images */
}

.kumaimages a {
  box-sizing: border-box;
}

.kumaimages img {
  width: 100%;
  height: auto;
  display: block;
}

/* Default (1 column) */
.kumaimages a {
    flex: 1 1 100%; /* 1 column */
}

/* 4 columns for iphone landscape */
@media (min-width: 600px) {
  .kumaimages a {
    flex: 1 1 calc(25% - 10px); /* 8 columns, adjust the -10px to match the gap */
  }
}

/* 8 columns for desktops */
@media (min-width: 800px) {
  .kumaimages a {
    flex: 1 1 calc(12.5% - 10px); /* 8 columns, adjust the -10px to match the gap */
  }
}

.direntry {
    font-size: 48px; /* Set the font size to large */
    color: #333;     /* Optional: Set the text color */
    font-family: Arial, sans-serif; /* Optional: Set the font family */
    text-align: center;
}

.no-underline {
            text-decoration: none; /* Remove underline */
        }

